[submodule "D-public"]
	path = D-public
	url = git@gitee.com:jw-speed/zhufeng-public.git
[submodule "B-zfInterView"]
	path = B-zfInterView
	url = git@gitee.com:zhufengpeixun/zhufenginterview.git
[submodule ".\\D-geek\\04-geek-nodejs"]
	path = D-geek/04-geek-nodejs
	url = git@github.com:iceycc/geek-nodejs.git
[submodule "D-geek/05-electron"]
	path = D-geek/05-electron
	url = git@github.com:geektime-geekbang/geektime-electron.git
[submodule "D-FE-01-geek"]
	path = D-FE-01-geek
	url = git@github.com:iceycc/Frontend-01-Template.git
[submodule "D-python/code_demo"]
	path = D-python/code_demo
	url = git@github.com:iceycc/code_demo.git
[submodule "U-updating/1.zf-react-interview2020"]
	path = U-updating/1.zf-react-interview2020
	url = git@gitee.com:zhufengpeixun/zhufengreactinterview2020.git
