<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table>
        <tr><td>姓名</td><td>年龄</td><td>家乡</td></tr>
        {% for user in items  %}
            {% for field in user  %}
                {% if loop.first %}
                    <tr>
                {% endif %}
                <td>{{field}}</td>
                {%if loop.last %}
                    </tr>
                {% endif %}
            {% endfor  %}
        {% endfor  %}
   </table>
</body>
</html>