<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <ul>
      <% for(let i=0; i < data.supplies.length; i++) { %>
        <li><%= data.supplies[i] %></li>
      <% } %>
    </ul>
  </div>
  <script src="./compile.js"></script>
  <script>
    const app = document.getElementById('app')
    let template = app.innerHTML
    template = template.replace(/&lt;/g,'<').replace(/&gt;/g,'>');
    const parse = eval(compile(template))
    app.innerHTML = parse({ supplies: [ "broom", "mop", "cleaner" ] });
  </script>
</body>
</html>