<!DOCTYPE html>
<html lang="en">
<%- include('template/head') %> 
<body>
    <h1><%= title %> </h1>
    <p><%= username %> </p>
    <p><%= userkey %> </p>
</body>

<script>
    $('h1').on('click',function(){
        alert('点击了: ' + $(this).text())
    })
</script>
</html>