.modal{
    position: fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,.5);
    display:flex;
    justify-content: center;
    align-items: center;
}
@keyframes zoom{
    from{transform:scale(0)}
    to{transform:scale(1)}
}
.content{
    width:50%;
    height:50%;
    background-color: #FFF;
    border-radius: 5px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: zoom .6s; 
}